<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="meyke.example.myfirstapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MenuAwalActivity"></activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".MatkulCRUD.HapusMatkulActivity" />
        <activity android:name=".MatkulCRUD.MatkulGetAllActivity" />
        <activity android:name=".MatkulCRUD.UpdateMatkulActivity" />
        <activity android:name=".MatkulCRUD.MatkulAddActivity" />
        <activity android:name=".MatkulCRUD.MainMatkulActivity" />
        <activity android:name=".DosenCRUD.DosenAddActivity" />
        <activity android:name=".DosenCRUD.DosenUpdateActivity" />
        <activity android:name=".DosenCRUD.DosenGetAllActivity" />
        <activity android:name=".DosenCRUD.HapusDosenActivity" />
        <activity android:name=".DosenCRUD.MainDosenActivity" />
        <activity android:name=".SplashScreenActivity" />
        <activity android:name=".CRUD.MahasiswaUpdateActivity" />
        <activity android:name=".CRUD.HapusMhsActivity" />
        <activity android:name=".CRUD.MahasiswaGetAllActivity" />
        <activity android:name=".CRUD.MahasiswaAddActivity" />
        <activity
            android:name=".CRUD.MainMhsActivity"
            android:label="Menu CRUD Mahasiswa">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Package.CardViewTestActivity" />
        <activity android:name=".Package.RecyclerActivity" />
        <activity android:name=".Package.ListActivity" />
        <activity android:name=".Pertemuan4.DebuggingActivity" />
        <activity android:name=".TrackerActivity2" />
        <activity android:name=".TrackerActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Adapter.DosenCRUDRecyclerAdapter" />
    </application>

</manifest>